<h3 class='section-title'>Agregar libroðŸ“š</h3>
<form action='/admin' class='admin-form' method='POST'>
	<div class='form-group'>
		<input
			type='text'
			class='form-input form-input-title'
			name='title'
			placeholder='Titulo'
			value='{{username}}'
		/>
		<input type='text' class='form-input' name='author' placeholder='Autor' />
	</div>
	<div class='form-group'>
		<input
			type='text'
			class='form-input'
			name='editorial'
			placeholder='Editorial'
		/>
		<input
			type='number'
			class='form-input form-input-half'
			name='shelf'
			min='0'
			placeholder='Estante'
		/>
		<input
			type='number'
			class='form-input form-input-half'
			name='quantity'
			min='0'
			placeholder='Canti.'
			required='true'
		/>
	</div>
	<div class='form-group'>
		{{! <input type="url" name="" id=""> }}
		<input
			type='text'
			class='form-input form-input-add-info'
			name='imageUrl'
			placeholder='imgUrl ej: https://google.com/img.jpg'
		/>

		<input
			type='number'
			min='0'
			name='stars'
			class='form-input form-input-stars'
			placeholder='â­'
		/>
	</div>
	<div class='form-group'>
		<input type='submit' class='form-input form-input-submit' value='Agregar' />
		<input type='hidden' name='id' />
	</div>
</form>
{{! ------------------------------------------------------------------------- }}
<h3 class='section-title'>Editar, Eliminar</h3>
<form class='shelf-form' action='/admin' method='GET'>
	<label for='shelf'>estante</label>
	<select id='shelf' name='shelf'>
		<option value='8'>8</option>
		<option value='9'>9</option>
		<option value='10'>10</option>
		<option value='11'>11</option>
		<option value='12'>12</option>
		<option value='13'>13</option>
		<option value='14'>14</option>
		<option value='15'>15</option>
		<option value='16'>16</option>
		<option value='17'>17</option>
		<option value='18'>18</option>
		<option value='19'>19</option>
		<option value='20'>20</option>
		<option value='21'>21</option>
		<option value='22'>22</option>
		<option value='23'>23</option>
		<option value='24'>24</option>
		<option value='25'>25</option>
		<option value='26'>26</option>
		<option value='27'>27</option>
		<option value='52'>52</option>
		<option value='53'>53</option>
		<option value='57'>57</option>
		<option value='66'>66</option>
		<option value='71'>71/72</option>
		<option value='76'>76</option>
		<option value='77'>77</option>
		<option value='85'>85</option>
		<option value='87'>87</option>
		<option value='88'>88</option>
		<option value='89'>89</option>
		<option value='90'>90</option>

	</select>
	<button>Buscar</button>
</form>

<table border='1px' class='crud-table'>
	<thead>
		<tr>
			<th>-Acciones-</th>
			<th>Titulo</th>
			<th>Autor</th>
			<th>Editorial</th>
			<th>Estante</th>
			<th>Cantidad</th>
			<th>ðŸŒŸ</th>
		</tr>
	</thead>
	{{#each shelfsArrayAdmin}}
		<tbody class='search-results-tbody'>
			<tr>
				<td>
					<a href='/admin/edit/{{this._id}}' class='book-edit-btn'>Editar</a>
					<form
						action='/admin/delete/{{this._id}}?_method=DELETE'
						method='POST'
					>
						<input type='hidden' name='_method' value='DELETE' />
						<button class='book-delete-btn'>Eliminar</button>
					</form>
				</td>
				<td> {{this.title}} </td>
				<td> {{this.author}} </td>
				<td> {{this.editorial}} </td>
				<td> {{this.shelf}} </td>
				<td> {{this.quantity}} </td>
				<td> {{this.stars}} </td>
			</tr>
		</tbody>
	{{/each}}
</table>
<hr />
<p>sos el admin. un gran poder conlleva una gran responsabilidad</p>

<script>

</script>