<h3 class='section-title'>Agregar libro📚</h3>
<form action='/admin' class='admin-form' method='POST'>
{{>add-edit var=undefined boton='Agregar'}}
</form>
{{! ------------------------------------------------------------------------- }}
<h3 class='section-title'>Editar, Eliminar</h3>
<form class='shelf-form' action='/admin' method='GET'>
	<label for='shelf'>estante</label>
	{{>shelf-select shelf=shelf}}
	<button>Buscar</button>
</form>

<table border='1px' class='crud-table'>
	<thead>
		<tr>
			<th>Editar</th>
			<th>Titulo</th>
			<th>Autor</th>
			<th>Editorial</th>
			<th>Estante</th>
			<th>Cantidad</th>
			<th>🌟</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	{{#each shelfsArrayAdmin}}
		<tbody class='search-results-tbody'>
			<tr>
				<td>
					<button>
						<a href='/admin/edit/{{this._id}}'>Editar</a>
					</button>
				</td>
				<td> {{this.title}} </td>
				<td> {{this.author}} </td>
				<td> {{this.editorial}} </td>
				<td> {{this.shelf}} </td>
				<td> {{this.quantity}} </td>
				<td> {{this.stars}} </td>
				<td> 
					<form
						action='/admin/delete/{{this._id}}?_method=DELETE'
						method='POST'
						class='delete-form'
					>
						<input type='hidden' name='_method' value='DELETE' />
						<button>Eliminar</button>
					</form> 
				</td>
			</tr>
		</tbody>
	{{/each}}
</table>
<hr />
<p>al salir,cerrar sesion y cerrar pestaña</p>

<script>

</script>