<h3 class='section-title'>Agregar libroðŸ“š</h3>
<form action='/admin' class='admin-form' method='POST'>
	<div class='form-group'>
		<input
			type='text'
			class='form-input form-input-title'
			name='title'
			placeholder='Titulo'
			value='{{username}}'
		/>
		<input type='text' class='form-input' name='author' placeholder='Autor' />
	</div>
	<div class='form-group'>
		<input
			type='text'
			class='form-input'
			name='editorial'
			placeholder='Editorial'
		/>
		<input
			type='number'
			class='form-input form-input-half'
			name='shelf'
			min='0'
			placeholder='Estante'
		/>
		<input
			type='number'
			class='form-input form-input-half'
			name='quantity'
			min='0'
			placeholder='Canti.'
		/>
	</div>
	<div class='form-group'>
		{{! <input type="url" name="" id=""> }}
		<input
			type='text'
			class='form-input form-input-add-info'
			name='imageUrl'
			placeholder='imgUrl ej: https://google.com/img.jpg'
		/>

		<input
			type='number'
			min='0'
			name='stars'
			class='form-input form-input-stars'
			placeholder='â­'
		/>
	</div>
	<div class='form-group'>
		<input type='submit' class='form-input form-input-submit' value='Agregar' />
		<input type='hidden' name='id' />
	</div>
</form>
{{! ------------------------------------------------------------------------- }}
<h3 class='section-title'>Editar, Eliminar</h3>
<form class='shelf-form' action='/admin' method='GET'>
	<label for='shelf'>estante</label>
	<select id='shelf' name='shelf'>
		<option value='8'>8</option>
		<option value='9'>9</option>
		<option value='10'>10</option>
		<option value='11'>11</option>
	</select>
	<button>Buscar</button>
</form>

<table border='1px' class='crud-table'>
	<thead>
		<tr>
			<th>-Acciones-</th>
			<th>Titulo</th>
			<th>Autor</th>
			<th>Editorial</th>
			<th>Estante</th>
			<th>Cantidad</th>
			<th>ðŸŒŸ</th>
		</tr>
	</thead>
	{{#each shelfsArrayAdmin}}
		<tbody class='search-results-tbody'>
			<tr>
				<td>
					<a
						href='/admin/edit/{{this._id}}'
						class='book-edit-btn'
						data-title='{{this.title}}'
						data-author='{{this.author}}'
						data-editorial='{{this.editorial}}'
						data-shelf='{{this.shelf}}'
						data-quantity='{{this.shelf}}'
						data-imageUrl='{{this.imageUrl}}'
						data-stars='{{this.stars}}'
						data-id='{{this._id}}'
					>Editar</a>
					<form
						action='/admin/delete/{{this._id}}?_method=DELETE'
						method='POST'
					>
						<input type='hidden' name='_method' value='DELETE' />
						<button class='book-delete-btn'>Eliminar</button>
					</form>
				</td>
				<td> {{this.title}} </td>
				<td> {{this.author}} </td>
				<td> {{this.editorial}} </td>
				<td> {{this.shelf}} </td>
				<td> {{this.quantity}} </td>
				<td> {{this.stars}} </td>
			</tr>
		</tbody>
	{{/each}}
</table>
<hr />
<p>sos el admin. un gran poder conlleva una gran responsabilidad</p>

<script>

</script>