<form action='/estanterias' method='GET'>
	<div>
		<label for=''>buscar estante</label>
		<select name='shelfselect' id=''>
			<option name='shelf1' value='8'>8</option>
			<option name='shelf2' value='9'>9</option>
			<option name='shelf3' value='10'>10</option>
			<option name='shelf4' value='11'>11</option>
		</select>
		<input type='submit' name='shelf' value='Buscarrrr' />
	</div>

</form>

<table border='1px' class='crud-table'>
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Autor</th>
			<th>Editorial</th>
			<th>Estante</th>
			<th>Cantidad</th>
			<th>🌟</th>
		</tr>
	</thead>
	{{#each shelfsArray}}
		<tbody>
			<tr>
				<td class='template-name'> {{this.title}} </td>
				<td class='template-artist'> {{this.author}} </td>
				<td class='template-artist'> {{this.editorial}} </td>
				<td class='template-artist'> {{this.shelf}} </td>
				<td class='template-artist'> {{this.quantity}} </td>
				<td class='template-artist'> {{this.stars}} </td>
			</tr>
		</tbody>
	{{/each}}
</table>