<h2 class='section-title'>Estanterias</h2>
<form class='shelf-form' action='/estanterias' method='GET'>
	<label for='shelf'>nro.</label>
	<select id='shelf' name='shelf'>
		<option value='8'>8</option>
		<option value='9'>9</option>
		<option value='10'>10</option>
		<option value='11'>11</option>
	</select>
	<button>Buscar</button>
</form>

<table border='1px' class='crud-table'>
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Autor</th>
			<th>Editorial</th>
			<th>Estante</th>
			<th>Cantidad</th>
			<th>🌟</th>
		</tr>
	</thead>
	{{#each shelfsArray}}
		<tbody class='search-results-tbody'>
			<tr>
				<td class='template-name'> {{this.title}} </td>
				<td class='template-artist'> {{this.author}} </td>
				<td class='template-artist'> {{this.editorial}} </td>
				<td class='template-artist'> {{this.shelf}} </td>
				<td class='template-artist'> {{this.quantity}} </td>
				<td class='template-artist'> {{this.stars}} </td>
			</tr>
		</tbody>
	{{/each}}
</table>