<section class='search-results-section'>

	{{#if query}}
		{{#if searchResultsArray}}
			<div class='search-results-title'>
				<p class="query-text">{{query}}</p>
				<span>{{searchResultsArray.length}} libros </span>
			</div>
			<div class='search-results-container'>
				<table class='search-results-table'>
					<thead class='search-results-thead'>
						<tr>
							<th>Titulo</th>
							<th>Autor</th>
							<th>Editorial</th>
							<th>Estante</th>
							<th>Cantidad</th>
							<th>🌟</th>
						</tr>
					</thead>
					{{#each searchResultsArray}}
						{{>search-results-tbody var=this}}
					{{/each}}
				</table>
			</div>
		{{else}}
			<div class='search-results-title'>
				<p class="query-text">{{query}}</p>
				<span>{{searchResultsArray.length}} libros encontrados </span>
			</div>
		{{/if}}
	{{/if}}
</section>