<h3 class='section-title'>EDITAR</h3>
<form
	action='/admin/book-edit/{{libro._id}}?_method=PUT'
	method='POST'
	class='admin-form'
>
	<input type='hidden' name='method' value='PUT' />
	<div class='form-group-container'>
		<div class='form-group'>
			<label for='input-tite'>Titulo</label>
			<input
				id='input-tite'
				type='text'
				class='form-input form-input-title'
				name='title'
				value='{{libro.title}}'
			/>
		</div>
		<div class='form-group'>
			<label for='input-author'>Autor</label>
			<input
				id='input-author'
				type='text'
				class='form-input'
				name='author'
				value='{{libro.author}}'
			/>
		</div>
	</div>
	<div class='form-group-container'>
		<div class='form-group form-editorial'>
			<label for='editorial'>Editorial</label>
			<input
				id='editorial'
				type='text'
				class='form-input'
				name='editorial'
				placeholder='Editorial'
				value='{{libro.editorial}}'
			/>
		</div>
		<div class='form-group'>
			<label for='input-shelf'>Estante</label>
			<input
				id='input-shelf'
				type='number'
				class='form-input form-input-half'
				name='shelf'
				min='0'
				value='{{libro.shelf}}'
			/>
		</div>
		<div class='form-group'>
			<label for='input-quantity'>Cant.</label>
			<input
				type='number'
				class='form-input form-input-half'
				name='quantity'
				min='0'
				placeholder='Canti.'
				value='{{libro.quantity}}'
			/>
		</div>
	</div>
	<div class='form-group-container'>
		<div class='form-group form-editorial'>
			<label for='input-img'>Image URL</label>
			<input
				id='input-img'
				type='text'
				class='form-input form-input-add-info'
				name='imageUrl'
				placeholder='imgUrl ej: https://google.com/img.jpg'
				value='{{libro.imageUrl}}'
			/>
		</div>
		<div class='form-group form-editorial'>
			<label for='input-likes'>Likes</label>
			<input
				id='input-likes'
				type='number'
				min='0'
				name='stars'
				class='form-input form-input-stars'
				value='{{libro.stars}}'
			/>
		</div>
	</div>

	<div class='form-group-container'>
		<input type='submit' class='form-input form-input-submit' value='Editar' />
	</div>
</form>