{{#if userr}}

	<div class='profile-view'>
		<div style='background-color: {{userr.color}};' class='header-pfp'>
		</div>
		<div class='profile-info'>
			<h3 class='profile-username'>{{userr.username}}</h3>
			<span>#{{userr.color}}</span>
		</div>
	</div>
	<div id='books' class='liked-books-container'>
		<h4 class='liked-books-title'>Me gusta</h4>
		<hr />
		<div class='liked-books'>
			<div class='liked-book-card'>
				{{#if userr.likes}}
					{{#each userr.likes}}
						<div
							title='{{this.title}}'
							style="background-image: url('{{this.imageUrl}}');"
							class='liked-book'
						></div>
					{{/each}}
				{{else}}
					No likes
				{{/if}}
			</div>
		</div>
	</div>
{{else}}
	No hay users rey
{{/if}}